@using System.Net.Http.Headers
@inject HttpClient httpClient

<h3>Users</h3>
<ul class="list-group list-group-flush">
    @if (Loading)
    {
        <li class="list-group-item">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"> </span>
            Loading....
        </li>
    }
    else
    {
        foreach (var user in Users)
        {
            <li class="list-group-item" style="cursor:pointer" @onclick="()=>HandleUserClick(user)">
                @user.Id - @user.Name
            <span class="badge rounded-pill bg-@(user.IsOnline?"success":"danger")">.</span>    
            </li>
        }
    }

</ul>
@code {
    
    [Parameter]   
    public bool Loading { get; set; }
    [Parameter]
    public ICollection<UserDto> Users { get; set; } = default;
    [Parameter]
    public EventCallback<UserDto> OnUserSelected { get; set; }
   
    
    public async Task HandleUserClick(UserDto user)
    {
        await OnUserSelected.InvokeAsync(user);
    }
}
